html {
  scroll-behavior: smooth;
}

body {
  font-family: $font_sourcesans3_regular;
  font-size: $size_16;
  color: $black;
  background: $gray-100;
}

a,
button {
  cursor: pointer;
  color: inherit;
  @apply transition-all;

  &:hover {
    color: inherit;
  }
}

a {
  text-decoration: none;
}

p > a {
  color: $sky-500;

  &:hover {
    color: $sky-500;
    text-decoration: underline;
  }
}

button {
  padding: 0;
  border: none;
  background: none;
}

label {
  cursor: pointer;
  user-select: none;
}

input {
  outline: none;
}
