// fonts
$font_calistoga_regular: 'Calistoga_Regular';
$font_sourcesans3_regular: 'SourceSans3_Regular';
$font_sourcesans3_bold: 'SourceSans3_Bold';
$font_sourcesans3_semibold: 'SourceSans3_SemiBold';
$font_icomoon: 'icomoon';

// colors
$black: #080708;
$sky-500: #0ea5e9;
$gray-100: #f6f5f2;

// sizes
$size_2: 2px;
$size_16: $size_2 * 8;

// z-index
$zI20: 20;
