// fonts
$font_calistoga_regular: 'Calistoga_Regular';
$font_sourcesans3_regular: 'SourceSans3_Regular';
$font_sourcesans3_bold: 'SourceSans3_Bold';
$font_sourcesans3_semibold: 'SourceSans3_SemiBold';
$font_icomoon: 'icomoon';

// colors
$black: #080708;
$sky-500: #0ea5e9;
$gray-100: #f3f4f6;

// sizes
$size_2: 2px;
// $size_4: $size_1 * 2;
// $size_8: $size_2 * 4;
$size_16: $size_2 * 8;
// $size_24: $size_2 * 12;
// $size_32: $size_2 * 16;
// $size_48: $size_2 * 24;
// $size_64: $size_2 * 32;
// $size_96: $size_2 * 48;
// $size_128: $size_2 * 64;
