@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contacts_phone:before {
  content: "\e917";
}
.icon-services_ears:before {
  content: "\e913";
}
.icon-services_blowout:before {
  content: "\e911";
}
.icon-services_anal:before {
  content: "\e90f";
}
.icon-services_bath:before {
  content: "\e910";
}
.icon-services_brush:before {
  content: "\e912";
}
.icon-services_haircut:before {
  content: "\e914";
}
.icon-services_nails:before {
  content: "\e915";
}
.icon-services_teeth:before {
  content: "\e916";
}
.icon-beforethesession_cancel:before {
  content: "\e90c";
}
.icon-beforethesession_communication:before {
  content: "\e90d";
}
.icon-beforethesession_parking:before {
  content: "\e90e";
}
.icon-features_convenient:before {
  content: "\e909";
}
.icon-features_quality:before {
  content: "\e90a";
}
.icon-features_stress:before {
  content: "\e90b";
}
.icon-general_arrow:before {
  content: "\e900";
}
.icon-general_bars:before {
  content: "\e901";
}
.icon-sections_404:before {
  content: "\e902";
}
.icon-sections_features:before {
  content: "\e903";
}
.icon-sections_beforethesession:before {
  content: "\e904";
}
.icon-sections_contacts:before {
  content: "\e905";
}
.icon-sections_faqs:before {
  content: "\e906";
}
.icon-sections_reviews:before {
  content: "\e907";
}
.icon-sections_services:before {
  content: "\e908";
}
