---
import DATA from './footerData.json';
import { Img } from '@components/global/Img';
import { SocialNav } from '@partials/SocialNav/SocialNav';

const date = new Date();
---

<footer class="pt-64 xl:pt-128">
  <Img src={DATA.img.src} alt={DATA.img.alt} className="w-max mx-auto" width={1000} height={384} />

  <div class="bg-white py-32">
    <div class="container">
      <SocialNav />
    </div>
  </div>

  <div class="py-16 container">
    <p class="text-ss3-16-regular">
      &copy; Copyright {date.getFullYear()}
      Vladis Mobile Grooming & Spa. All Rights Reserved.
    </p>
  </div>
</footer>
