---
import DATA from './BeforeTheSessionData.json';
import SectionHeader from '@components/global/SectionHeader.astro';
import List from '@components/global/List.astro';
---

<div class="container section-gap-64">
  <SectionHeader data={DATA.header} />
  <List list={DATA.list} />
</div>
